nav {
    background-color: #f2f2f2;
    font-size: 14px;
}
ul.header {
    background-color:#474747;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
li.header {
    float: left;
    padding: 12px;
}
li.header a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li.header a:hover {
    color: grey;
}
div.one {
    background-color: #807d7d;
    padding: 10px;
    color: whitesmoke;
    border: 1px solid;
    text-align:left
}
div.two {
    border: 1px solid;
    background-color: white;
    padding: 10px;
    text-align: left
}
p.one {
    color: whitesmoke;
}
ul.head {
    background-color:#f2f2f2;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
li.head {
       float: left;
    padding: 12px;
}
li.head a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
li.head a:hover {
    color: skyblue;
}
h1.title {
    
}
table, th, td{
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }
td {
        width: 80px;
    }
th, td {
        padding: 5px;
        height: 50px;
    }
tr.요일 {
        background-color: bisque;
    }
tr.짝수 {
        background-color: lavenderblush;
    }
tr.홀수 {
        background-color: lavender;
    }
td.일본어문법 {
        background-color: aqua;
    }
td.일본어기초 {
        background-color: coral;
    }
li.one {
    color: whitesmoke;
    
}
img.gigi {
    
}
h3.one {
    color: black;
}
#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}